<article class="media box d-flex align-items-center hover-fade">
  <figure class="media-left" onclick="window.open('https://www.naver.com')">
    <p class="image clickable">
    <%= image_tag "pikapika.jpeg", class: "card-image image is-128x128" %>
    </p>
  </figure>
  <div class="media-content" onclick="window.open('<%= result["link"] %>')">
    <div class="content clickable">
      <p>
      제목: <%= result["title"] %><br/>
      쇼핑몰 이름: <%= result["mallName"] %><br/>
      가격: <%= result["lprice"] %>원<br/>
      </p>
    </div>
  </div>
  <div class="media-right">
      <%= link_to '/mypage/toggle_like', remote: true do %>
        <div class="card-checkbox-box" data-index="<%= result["productId"]%>">
          <%= image_tag 'check.png', class: "check" %>
        </div>
      <% end %>
  </div>
</article>
