<article class="media box d-flex align-items-center hover-fade">
  <figure class="media-left" onclick="window.open('<%= result["link"] %>')">
    <p class="image clickable">
    <%= image_tag result["image"], class: "card-image image is-128x128" %>
    </p>
  </figure>
  <div class="media-content" onclick="window.open('<%= result["link"] %>')">
    <div class="content clickable">
      <p>
      <span class="title is-5"><%= result["title"] %></span><br/>
      <span class="subtitle is-6"><%= result["mallName"] %></span><br/>
      </p>
      <span class="tag is-success is-medium"><%= result["price"] %>원</span>
      <br/>
      <small>2017.07.03</small>
    </div>
  </div>
  <div class="media-right">
      <%= link_to '/mypage/toggle_like', remote: true do %>
        <div class="card-checkbox-box" data-index="<%= result["productId"]%>">
          <%= image_tag 'check.png', class: "check" %>
        </div>
      <% end %>
  </div>
</article>
