<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-content" style="padding:30px">
    <div>
    <%= form_for(resource, url: user_session_path(resource), remote: true) do |f| %>
      <div class="field">
        <p class="control has-icons-left">
        <%= f.email_field :email, autofocus: true, class: 'input', placeholder: '이메일' %>
        <span class="icon is-small is-left">
          <i class="fa fa-envelope"></i>
        </span>
        </p>
      </div>

      <div class="field">
        <p class="control has-icons-left">
        <%= f.password_field :password, autocomplete: "off", class: 'input', placeholder: '비밀번호' %>
        <span class="icon is-small is-left">
          <i class="fa fa-lock"></i>
        </span>
        </p>
      </div>

      <div class="text-center">
        <%# if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :자동_로그인 %>
          </div>
        <%# end -%>

        <div class="field">
          <p>
          <%= f.submit "로그인", class: 'button is-success' %>
          </p>
        </div>
      <% end %>
      <%= link_to "로그인", new_session_path(resource), remote: true %><br />
      <%= link_to "가입하기", new_user_registration_path(resource), remote: true %><br />
      <%= link_to "비밀번호 찾기", new_password_path(resource) %><br />

      </div>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
