<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-content" style="padding:30px">
    <div>
    <%= form_for(resource, url: user_registration_path(:user), remote: true) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <p class="control has-icons-left">
        <%= f.email_field :email, autofocus: true, class: 'input', placeholder: '이메일' %>
        <span class="icon is-small is-left">
          <i class="fa fa-envelope"></i>
        </span>
        </p>
      </div>

      <div class="field">
        <p class="control has-icons-left">
        <%= f.password_field :password, autocomplete: "off", class: 'input', placeholder: '비밀번호' %>
        <span class="icon is-small is-left">
          <i class="fa fa-lock"></i>
        </span>
        </p>
      </div>

      <div class="field">
        <p class="control has-icons-left">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'input', placeholder: '비밀번호 확인' %>
        <span class="icon is-small is-left">
          <i class="fa fa-lock"></i>
        </span>
        </p>
        <% if @minimum_password_length %>
          <p class="help">비밀번호는 최소 <%= @minimum_password_length %> 글자입니다.</p>
        <% end %><br />
      </div>

      <div class="text-center">
      <div class="actions">
          <p>
          <%= f.submit "가입하기", class: 'button is-success' %>
          </p>
      </div>
      <% end %>
      <%= link_to "로그인", new_session_path(:user), remote: true %><br />

      </div>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
